@import "colors/colors.css";

* {
  font-family: "SF Pro Rounded";
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

#waybar {
  font-weight: 600;
  background: @module-bg;
  font-size: 20px;
  letter-spacing: 0px;
  color: @fg;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#right,
#left,
#right-hidden-top,
#left-hidden-top {
  border-radius: 15px;
  background: @module-bg;
}

#clock {
  border-radius: 15px;
  background: @module-bg;
}

#cpu.critical,
#memory.critical,
#battery.critical,
#network.disabled,
#temperature.critical,
#network.disconnected,
#power-profiles-daemon.performance {
  color: @red;
}

#cpu.warning,
#memory.warning,
#battery.warning,
#temperature.warning {
  color: @yellow;
  background: unset;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#custom-start,
#custom-ctlcenter {
  color: @accent;
}

#custom-cava {
  font-family: "JetBrainsMono NFP";
  color: @fg;
}

#workspaces {
  padding: 4px 0;
}

#workspaces button {
  margin: 0 2px;
  padding: 0 4px;
}

#workspaces button image,
#workspaces button label {
  margin: -4px 0;
  margin-left: -4px;
}

#workspaces button label {
  padding: 4px;
}

#workspaces button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: @workspace-fg;
  border-radius: 6px;
  transition: none;
}

#workspaces button.active {
  background: rgba(111, 131, 150, 0.7);
}

#mpris.paused {
  color: @inactive;
}

tooltip {
  border-radius: 8px;
  background: @tooltip-bg;
}

tooltip label {
  padding: 4px 10px;
  color: @fg;
  font-weight: 700;
}

.popup * {
  box-shadow: none;
  outline: none;
}

menu,
menu {
  border-radius: 8px;
  font-weight: 700;
  color: @fg;
  background: @tooltip-bg;
}

menu>*,
menu>* {
  padding: 4px 0px;
}

menu>*:hover,
menu>*:hover {
  border-radius: 8px;
  background-color: @accent;
}

slider {
  opacity: 0;
  box-shadow: none;
}

trough {
  min-width: 50px;
  min-height: 5px;
  border-radius: 8px;
  background: @inactive;
}

trough highlight {
  border-radius: 8px;
  background-color: @fg;
  background-image: none;
}

#custom-cava,
#left,
#language,
#group-volume,
#image.wifi,
#image.bluetooth,
#group-battery,
#group-temperature {
  margin: 0 10px;
}

#group-clock {
  margin-right: 12px;
}

#right-hidden-top {
  margin-left: 12px;
}

#tray {
  margin-left: 12px;
}

#image {
  margin-right: 4px;
}

#image.wifi,
#image.bluetooth {
  margin-right: 0px;
}